@use '../sass/variables' as variables;

.gallery__cont {
  width: 100%;
  column-count: 4;
  column-gap: 4rem;
  list-style: none;

  @media only screen and (max-width: variables.$bp-largest) {
    padding: 0 3rem;
  }

  @media only screen and (max-width: variables.$bp-largest) {
    column-count: 3;
  }

  @media only screen and (max-width: variables.$bp-medium) {
    column-count: 2;
  }

  @media only screen and (max-width: variables.$bp-small) {
    column-count: 1;
  }

  &--ele {
    break-inside: avoid;
    margin-bottom: 16px;
    min-height: 25rem;
    position: relative;
    cursor: pointer;



    & img {
      width: 100%;
      min-height: 25rem;
      object-fit: cover;
      display: block;
      z-index: 0;
    }


    &_inf {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      background-image: linear-gradient(rgba(255, 255, 255, 0.047) 0%, rgba(0, 0, 0, 0.538) 84%);
      height: 100%;
      width: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: .8rem;


      & p {
        font-size: 2.4rem;
        color: var(--white);
      }

      & h3 {
        font-size: 1.3rem;
        color: var(--white);
        opacity: .75;
      }
    }
  }




}